.graduate .container {
  padding: 120px 40px;
}

.graduate {
  background: var(--c12);
  color: #ffffff;
}

.graduate .subtitle {
  color: #000000;
  max-width: 5ch;
}

.graduate-txt {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--c5);
}

.graduate-txt strong {
  color: #ffffff;
}

.college-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.college {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.college-graduate {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--c5);
  margin-bottom: 10px;
}

.college-title {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.college-title::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#39c4ff, #2096eb);
  position: absolute;
  left: -24px;
}

.college-institution {
  font-size: 1.125rem;
  color: var(--c5);
}

.courses {
  margin-bottom: 60px;
}

.graduate-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--c6);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.graduate-extra h3::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.courses h3::before {
  background: url("../img/courses.svg") no-repeat center center;
}

.languages h3::before {
  background: url("../img/language.svg") no-repeat center center;
}

.graduate-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.graduate-extra span {
  color: var(--c6);
}

.courses li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .graduate .container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .graduate .subtitle {
    color: #ffffff;
  }

  .graduate-txt {
    font-size: 1.25rem;
  }

  .graduate-extra h3::before {
    position: static;
    margin: 10px;
  }
}
